{% extends "base.html" %}

{% block content %}

{% url 'nameapp:all' as list_all %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Buy Product</h1>

        <p class="h5">Are you sure you want to buy the Product:</p>
        <h3 class="my-5">{{ product.name }}</h3>
        <form action="{% url 'nameapp:buy' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Yes</button>
            <a href="{{ list_all }}" class="btn btn-secondary">No</a>
        </form>
    </div>
</div>

{% endblock %}